<nav class="bg-white border-b border-gray-200 fixed z-30 py-2 w-full shadow-sm">
  <div class="px-3 py-3 lg:px-5 lg:pl-3">
    <div class="flex items-center justify-between">
      <div class="flex items-center justify-start">
        <%= link_to 'Finanzen', root_path, class: "serif text-xl flex items-center lg:ml-2.5 " %>
      </div>
      <div class="flex items-center">
        <div class="hidden lg:flex items-center">
          <%= link_to 'Open source', "https://github.com/emmanueletti/finanzen", class: "text-base font-normal text-gray-500 mr-5" %>

        </div>
      </div>
    </div>
  </div>
</nav>
